<!DOCTYPE html>
<html>
  <head>
    <title>rubygem.me</title>
    <%= erb :_head %>
  </head>
  <body>
    <div class="main-content">
      <div class="ui basic segment">
        <%= yield %>
      </div> <!-- ui basic segment -->
    </div><!-- main-content -->
  </body>
</html>